* {
    margin: 0;
    padding: 0;
   }
#topmenu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.link-lifestyle {
  font-size: 14px;
  font-family: "Times New Roman";
  color: rgb(98, 98, 98);
  text-decoration:  none;
  margin-left: 60px;
  margin-right: 60px;
}
.link-lifestyle:hover {
  color: #00ccff;
}
.link-photodiary {
  font-size: 14px;
  font-family: "Times New Roman";
  color: rgb(98, 98, 98);
  text-decoration:  none;
  margin-left: 60px;
  margin-right: 50px;
}
.link-photodiary:hover {
  color: #00ccff;
}
.link-music {
  font-size: 14px;
  font-family: "Times New Roman";
  color: rgb(98, 98, 98);
  text-decoration:  none;
  margin-left: 50px;
  margin-right: 48px;
}
.link-music:hover {
  color: #00ccff;
}
.link-travel {
  font-size: 14px;
  font-family: "Times New Roman";
  color: rgb(98, 98, 98);
  text-decoration:  none;
  margin-left: 48px;
  margin-right: 48px;
}
.link-travel:hover {
  color: #00ccff;
}
.content-top-left {
  width: 420px;
  margin-right: 30px;
  margin-bottom: 65px;
}
.content-top-right {
  width: 420px;
  margin-left: 30px;
  margin-bottom: 65px;
}
.content-top-center{
  display: flex;
  justify-content: center;
}
.content-middle-left {
  width: 420px;
  margin-right: 30px;
  margin-bottom: 65px;
  margin-top: 65px;
}
.content-middle-right {
  width: 420px;
  margin-left: 30px;
  margin-bottom: 65px;
  margin-top: 65px;

}
.content-middle-center{
  display: flex;
  justify-content: center;
}
.content-down-left {
  width: 420px;
  margin-right: 30px;
  margin-top: 65px;
  margin-bottom: 55px;
}
.content-down-right {
  width: 420px;
  margin-left: 30px;
  margin-top: 65px;
}
.content-down-center{
  display: flex;
  justify-content: center;
  margin-bottom: 55px;
}
.down-button {
  text-align:  center;
  margin-bottom: 70px;
}
.button {
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 35px;
  padding-right: 42px;
  background-color: transparent;
  /* border: 1px solid black; */
  cursor: pointer;
  font-size: 20px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
}
.string {
  margin-top: 32px;
  margin-bottom: 23px;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  color: rgb(180, 173, 158);
}
.string-left-down {
  margin-top: 32px;
  margin-bottom: 23px;
  font-size: 14px;
  font-family: "Times New Roman";
  color: rgb(180, 173, 158);
}
.string-title {
  margin-bottom: 34px;
  font-size: 30px;
  font-family: "Times New Roman";
  color: rgb(98, 98, 98);

}
.text {
  font-size: 14px;
  font-family: "Times New Roman";
  color: rgb(98, 98, 98);
  line-height: 1.714;
}
