* {
    margin: 0;
    padding: 0;
   }
.container {
  width: 900px;
  margin: 0 auto;
  font-size: 0;
}
.topmenu {
  list-style-type: none;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 0;
  text-align: center;
}
.link {
  display: inline-block;
  margin-right: 105px;
}
.link:last-child{
  margin-right:  0;
}
.link-lifestyle {
  font-size: 14px;
  font-family: "Times New Roman";
  color: rgb(98, 98, 98);
  text-decoration:  none;
  display: block;
}
.link-lifestyle:hover {
  color: #00ccff;
}
.link-photodiary {
  font-size: 14px;
  font-family: "Times New Roman";
  color: rgb(98, 98, 98);
  text-decoration:  none;
  display: block;
}
.link-photodiary:hover {
  color: #00ccff;
}
.link-music {
  font-size: 14px;
  font-family: "Times New Roman";
  color: rgb(98, 98, 98);
  text-decoration:  none;
  display: block;
}
.link-music:hover {
  color: #00ccff;
}
.link-travel {
  font-size: 14px;
  font-family: "Times New Roman";
  color: rgb(98, 98, 98);
  text-decoration:  none;
  display: block;
}
.link-travel:hover {
  color: #00ccff;
}
.section {
  padding-bottom:70px;
}
.content-top {
  width: 420px;
  margin-right: 60px;
  margin-bottom: 65px;
  display: inline-block;
}
.content-top:nth-child(2n){
  margin-right: 0;
}
.photo {
  margin-bottom: 32px;
}
.content-middle {
  width: 420px;
  margin-right: 60px;
  margin-bottom: 65px;
  display: inline-block;
}
.content-middle:nth-child(2n){
  margin-right: 0;
}
.content-down {
  width: 420px;
  margin-right: 60px;
  margin-top: 65px;
  margin-bottom: 55px;
  display: inline-block;
}
.content-down:nth-child(2n){
  margin-right: 0;
}
.down-button {
  text-align:  center;
}
.button {
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 35px;
  padding-right: 42px;
  background-color: transparent;
  /* border: 1px solid black; */
  cursor: pointer;
  font-size: 20px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
}
.button:hover {
  color: silver;
}
.string {
  margin-bottom: 23px;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  color: rgb(180, 173, 158);
}
.string-left-down {
  margin-bottom: 23px;
  font-size: 14px;
  font-family: "Times New Roman";
  color: rgb(180, 173, 158);
}
.string-title {
  margin-bottom: 34px;
  font-size: 30px;
  font-family: "Times New Roman";
  color: rgb(98, 98, 98);

}
.text {
  font-size: 14px;
  font-family: "Times New Roman";
  color: rgb(98, 98, 98);
  line-height: 1.714;
}
