* {
    margin: 0;
    padding: 0;

   }
 #menu {
   display: flex;
   justify-content: flex-end;
   margin-top: 36px;
   list-style-type: none;
   font-family: "Times New Roman";
   color: rgb(26, 188, 156);
 }
.logo {
  display: flex;
  justify-content: flex-start;
  margin-right: 535px;
}

.link-home {
  margin-right: 30px;
  text-decoration: none;
  list-style-type: none;
  color: #626262;


}
.link-home:hover {
  color: #00ccff;
}
.link-about {
 margin-right: 32px;
 text-decoration: none;
 color: #626262;
}
.link-about:hover {
  color: #00ccff;
}
.link-page {
 margin-right: 28px;
 text-decoration: none;
 color: #626262;
}
.link-page:hover {
  color: #00ccff;
}
.link-shop {
 margin-right: 25px;
 text-decoration: none;
 color: #626262;
}
.link-shop:hover {
  color: #00ccff;
}
.link-blog {
 margin-right: 32px;
 text-decoration: none;
 color: #626262;
}
.link-blog:hover {
  color: #00ccff;
}
.link-contact {
 text-decoration: none;
 color: #626262;
 margin-right: 160px;
}
.link-contact:hover {
  color: #00ccff;
}
.content-top-center{
  display: flex;
  justify-content: center;
}
.content-down-center{
  display: flex;
  justify-content: center;
}
.top-left-img {
  margin-right: 30px;
  margin-bottom: -4px;
}
.top-left-middle{
  margin-right: 30px;
  margin-bottom: -4px;
}
.top-right-middle-img {
  margin-right: 30px;
  margin-bottom: -4px;
}
.top-right-img {
  margin-bottom: -4px;
}
.down-left-img {
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: -4px;
}
.down-left-middle-img {
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: -4px;
}
.down-right-middle-img {
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: -4px;
}
.down-right-img {
  margin-top: 30px;
  margin-bottom: -4px;
}
.name {
  margin-top: 0px;
  height: 30px;
  width: 193px;
  background: #333333;
  font-family: "Times New Roman";
  color: rgb(255, 255, 255);
  padding-top: 13px;
  padding-left: 11px;
}
.name-left-middle-top {
  margin-top: 0px;
  height: 30px;
  width: 193px;
  background: #333333;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  padding-top: 13px;
  padding-left: 11px;
}
.name-right-middle-down {
  margin-top: 0px;
  height: 30px;
  width: 193px;
  background: #333333;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  padding-top: 13px;
  padding-left: 11px;
}
.name-right-down {
  margin-top: 0px;
  height: 30px;
  width: 193px;
  background: #333333;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  padding-top: 13px;
  padding-left: 11px;
}
.price {
  width:  40px;
  height: 30px;
  background: #999999;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  padding-top: 13px;
  padding-left: 11px;
}


.product-price {
  display: flex;
}
.name:hover {
 background: #1abc9c;
}
.price:hover {
 background: #7fd9c7;
}
.string-top {
  text-align: center;
  margin-top: 100px;
  font-size: 48px;
  font-family: "Times New Roman";
  color: rgb(81, 81, 81);
}
.string-down {
  margin-top: 95px;
  margin-bottom: 23px;
  font-family: "Times New Roman";
  color: rgb(85, 82, 82);
  font-size: 45px;
}

.img-top {
 text-align: center;
 margin-top: 20px;
 margin-bottom: 95px;
}
.img-down {
  margin-bottom: 80px;
}
.string-down {
  text-align: center;
  color: #515151;
}
.string-left {
  font-size: 18px;
  font-family: "Times New Roman";
  color: rgb(85, 82, 82);
  line-height: 1.857;
  width: 270px;
}
.string-center {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(85, 82, 82);
  line-height: 1.857;
  width: 300px;
}
.string-right {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(85, 82, 82);
  line-height: 1.857;
  width: 300px;
}
.img-down {
 text-align: center;
}
.post-center{
  display: flex;
  justify-content: center;
}
.post-left {
  width: 350px;
  margin-right: 30px;
}
.post-middle {
  width: 350px;
  margin-right: 30px;
}
.post-right {
  width: 350px;
}
.left-post-img {

  margin-bottom: 12px;
}
.middle-post-img {

  margin-bottom: 12px;
}
.right-post-img {
  margin-right: 30px;
  margin-bottom: 12px;
}
.rectangle-small-left {
  margin-top: 12px;
  margin-bottom: 28px;
}
.rectangle-small-middle {
  margin-top: 12px;
  margin-bottom: 28px;
}
.rectangle-small-right {
  margin-top: 12px;
  margin-bottom: 28px;
}
.text-left {
  margin-bottom: 16px;
  font-size: 13px;
  font-family: "Times New Roman";
  color: rgb(85, 82, 82);
  line-height: 1.857;
  width: 340px;
}
.text-center {
  margin-bottom: 16px;
  font-size: 13px;
  font-family: "Times New Roman";
  color: rgb(85, 82, 82);
  line-height: 1.857;
}
.text-right {
  margin-bottom: 16px;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(85, 82, 82);
  line-height: 1.857;
}
.button {
  width: 160px;
  height: 50px;
  margin-bottom: 80px;
  background: #4ec6ab;
  border: none;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(255, 255, 255);
  border-radius:3px;
}
