* {
    margin: 0;
    padding: 0;

   }
.page-header{
  width: 1110px;
  margin: 0 auto;
}
   .clearfix::after {
   content: "";
   display: table;
   clear: both;
 }
 .menu {
   list-style-type: none;
   font-family: "Roboto";
   color: rgb(26, 188, 156);
 }
 .link{
   margin-right: 30px;
   float: left;
 }
 .link:last-child{
  margin-right:  0;
}
 .navigation {
    padding-top: 36px;
    float: right;
 }
.logo {
  float: left;
  padding-top: 36px;

}

.link-home {
  display: block;
  text-decoration: none;
  list-style-type: none;
  color: #626262;


}
.link-home:hover {
  color: #00ccff;
}
.link-about {
display: block;
 text-decoration: none;
 color: #626262;
}
.link-about:hover {
  color: #00ccff;
}
.link-page {
 display: block;
 text-decoration: none;
 color: #626262;
}
.link-page:hover {
  color: #00ccff;
}
.link-shop {
  display: block;
 text-decoration: none;
 color: #626262;
}
.link-shop:hover {
  color: #00ccff;
}
.link-blog {
  display: block;
 text-decoration: none;
 color: #626262;
}
.link-blog:hover {
  color: #00ccff;
}
.link-contact {
 text-decoration: none;
 color: #626262;
 display: block;
}
.link-contact:hover {
  color: #00ccff;
}
.wrapp {
  width: 1110px;
    margin: 0 auto;
  padding-top: 100px;

}
.block {
  float:left;
  margin-right: 30px;
    list-style-type: none;
}
.block:nth-child(4n) {
  margin-right: 0;
}
.block:nth-last-child(-n + 4) {
  margin-bottom: 95px;
}
.block:nth-child(n + 4) {
  margin-bottom: 30px;
}
.product-price {
  display: flex;
}
.name {
  margin-top: 0px;
  height: 30px;
  width: 193px;
  background: #333333;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  padding-top: 13px;
  padding-left: 11px;
}
.price {
  width:  40px;
  height: 30px;
  background: #999999;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  padding-top: 13px;
  padding-left: 11px;
}
.features-list-item:hover > div .name{
    background-color:#7fd9c7;
}
.features-list-item:hover > div .price{
    background-color:#1abc9c;
}

.string-top {
  text-align: center;
  font-size: 48px;
  font-family: "Roboto";
  color: rgb(81, 81, 81);
}
.string-top::after {
  display: block;
  content: "";
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 0 auto;
  margin-top: 22px;
  margin-bottom: 90px;
}
.string-down {
  margin-bottom: 23px;
  font-family: "Roboto";
  color: rgb(85, 82, 82);
  font-size: 45px;
}
.string-down::after {
  display: block;
  content: "";
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 0 auto;
  margin-top: 22px;
  margin-bottom: 80px;
}
.img-top {
 text-align: center;
 margin-top: 20px;
 margin-bottom: 95px;
}
.img-down {
  margin-bottom: 80px;
}
.string-down {
  text-align: center;
  color: #515151;
}
.string{
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(85, 82, 82);
  line-height: 1.857;
}
.string::after {
  display: block;
  content: "";
  width: 140px;
  height: 5px;
  background-color: #1abc9c;
  margin-top: 10px;
  margin-bottom: 25px
}
.img-down {
 text-align: center;
}
.news {

  width: 1110px;
  margin: 0 auto;
}
.post:nth-child(3n) {
padding-bottom: 80px;
}
.post {
  float: left;
    margin-right: 30px;
    list-style-type: none;
}
.post:last-child {
    margin-right: 0;
}

.post-left {
  width: 350px;
}
.post-middle {
  width: 350px;
}
.post-right {
  width: 350px;
}
.left-post-img {

  margin-bottom: 12px;
}
.middle-post-img {

  margin-bottom: 12px;
}
.right-post-img {
  margin-right: 30px;
  margin-bottom: 12px;
}


.text-left {
  margin-bottom: 16px;
  font-size: 13px;
  font-family: "Times New Roman";
  color: rgb(85, 82, 82);
  line-height: 1.857;
}
.text-center {
  margin-bottom: 16px;
  font-size: 13px;
  font-family: "Times New Roman";
  color: rgb(85, 82, 82);
  line-height: 1.857;
}
.text-right {
  margin-bottom: 16px;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(85, 82, 82);
  line-height: 1.857;
}
.button {
  text-align: center;
  padding-top: 13px;
  width: 160px;
  height: 35px;
  display: block;
  background: #4ec6ab;
  border: none;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(255, 255, 255);
  border-radius:3px;
  cursor: pointer;
      text-decoration: none;
}
