* {
    margin: 0;
    padding: 0;
   }
   .page-header{
  width: 1195px;
  padding-top: 50px;
  padding-bottom: 127px;
}
.clearfix::after {
content: "";
display: table;
clear: both;
}
.navigation {
    padding-top: 10px;
    float: right;
}
.link{
   margin-right: 20px;
   float: left;
 }
 .link:last-child{
  margin-right:  0;
}
 .menu {
   display: flex;
   justify-content: center;
   list-style-type: none;
   font-family: "open";
   color: rgb(26, 188, 156);
 }

.logo {
  float: left;
  padding-left: 120px;
  font-size: 30px;
  font-family: "Wisdom";
  color: #fed136;
  text-decoration: none;
  list-style-type: none;
}
.link-logo  {
  text-decoration: none;
  list-style-type: none;
  font-size: 30px;
  font-family: "Wisdom";
  color: #fed136;
  margin-top: -15px;
}

.link-about {
  font-size: 14px;
  font-family: "Montserrat",sans-serif;
  margin-right: 40px;
  text-decoration: none;
  list-style-type: none;
  color: #222222;
  display: block;
}

.link-about:hover {
  color: #fed136;
  transition-duration: 200ms;

}
.link-service {
  font-size: 14px;
  font-family: "Montserrat",sans-serif;
  margin-right: 40px;
  text-decoration: none;
  color: #222222;
  display: block;
}
.link-service:hover {
  color: #fed136;
  transition-duration: 200ms;
  padding-bottom:  10px;
}
.link-work {
  font-size: 14px;
  font-family: "Montserrat",sans-serif;
  margin-right: 40px;
  text-decoration: none;
  color: #222222;
  display: block;
}
.link-work:hover {
  color: #fed136;
  transition-duration: 200ms;
  padding-bottom:  10px;
}
.link-blog {
  font-size: 14px;
  font-family: "Montserrat",sans-serif;
  margin-right: 40px;
  text-decoration: none;
  color: #222222;
  display: block;
}
.link-blog:hover {
  color: #fed136;
  transition-duration: 200ms;
  padding-bottom:  10px;
}
.link-contact {
  font-size: 14px;
  font-family: "Montserrat",sans-serif;
  text-decoration: none;
  color: #222222;
  display: block;
}
.link-contact:hover {
  color: #fed136;
  transition-duration: 200ms;
  padding-bottom:  10px;
}
.header {
  padding-bottom: 120px;
}
.section-title {
    margin-bottom: 150px;
}
.section-title-form {
    margin-bottom: 75px;
}
.string-top-small {
  text-align: center;

  font-size: 16px;
  font-family: "Droid Serif";
  font-style: italic;
  color: rgb(51, 51, 51);
}
.string {
  text-align: center;
  font-size: 33px;
  margin-bottom:  15px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(51, 51, 51);
}
.content-top-center{
  display: flex;
  justify-content: center;
}
.block {
  margin-right: 70px;
  width: 287px;
  text-align: center;

}
.block:last-child {
  margin-right: 0px;
}
.block::before{
    content:'';
    display:block;
    width: 70px;
    height: 70px;
    background-position:  center;
    background-repeat: no-repeat;
    position: absolute;
    transform: translate(100px , -80px);
    border: 3px solid #fed136;
    border-radius: 50%;

}
.icon-basket::before{
    background-image: url(../img/basket.png);
}

.icon-laptop::before{
    background-image: url(../img/laptop.png);
}

.icon-locked::before{
    background-image: url(../img/locked.png);
}

.name-block {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  margin-bottom: 20px;
}

.description-block {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  line-height: 1.6;
}




.color-white {
  color: #ffffff;
}
.string-down-small {
  display: flex;
  justify-content: center;
  font-family: "Droid Serif";
  font-style: italic;
  color: #898989;
}

.background {
   background-image: url("../img/map.png"); /* Путь к фоновому изображению */
   background-color: #222222; /* Цвет фона */
   padding-top: 110px;
   padding-bottom:21px;
}


.contact-form {
  display: flex;
  justify-content: center;
}

.name {
  height: 15px;
  width: 435px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(187, 187, 187);
}
.email {
  height: 15px;
  width: 435px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(187, 187, 187);
}
.subject {
  height: 15px;
  width: 435px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(187, 187, 187);
}

.message {
  margin-bottom: 40px;
  width: 435px;
  padding-top: 20px;
  padding-left: 20px;
  resize: none;
  border-radius: 2px;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(187, 187, 187);
}
.flex {
  display: flex;
}
.form-with {
  width: 500px;
}
input:valid {
  outline: 2px solid #b3ffb3;
}

input:invalid {
  outline: 2px solid #ff1a1a;
}
textarea:valid {
  outline: 2px solid #b3ffb3;
}
textarea:invalid {
  outline: 2px solid #ff1a1a;
}
.button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-form {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  height: 63px;
  width: 246px;
  padding-top: 20px;
  padding-bottom:  20px;
  padding-left: 48px;
  padding-right: 48px;
  background: #fed136;
  border-radius: 2px;
  border: none;
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
}














/* .text {
  font-size: 14px;
  font-family: "Roboto";
}
.color {
  color: black;
  text-decoration: none;
}
.color:hover {
  color: #f38181;
   transition-duration: 200ms;
}
.left-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1190px;
  padding-top: 40px;
  padding-bottom: 20px;
  color: black;
  margin-left: 43px;
  margin-top: 80px;
  border-top: 1px solid rgb(153, 153, 153);
}
.input {
  width: 230px;
  height: 40px;
  padding-left: 12px;
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(204, 204, 204);
  font-style: italic;
}
.form {
  margin-left: 490px;
  margin-top: -10px;
}
.button {
  background: #95e1d3;
  border: 0;
  width: 150px;
  height: 44px;
  margin-left: -5px;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  cursor: pointer;
} */
