@media (min-width:768px){

  .logo,.menu{
        margin: 0;
        margin-left: 30px;
        margin-right: 30px;
    }
  .title{
    font-size: 52px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 30px;
  }
  .subtitle{
    font-size: 24px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    margin-bottom: 40px;
    width: 400px;
  }
  .login {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-transform: capitalize;
  }
  .login:first-letter{
    text-transform: lowercase;
  }
  .sign-up {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-transform: capitalize;
  }
  .sign-up:first-letter{
    text-transform: lowercase;
  }
  .promo{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin: 0 auto;
        padding-top: 30px;
        margin-bottom: 150px;
        text-align: center;
        width: 740px;
    }
   .content-top-center {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      width: 490px;
      margin: 0 auto;
   }
   .top-button {
     width: 240px;
   }
   .string-down {
     width: 420px;
   }
}
