body {
  margin: 0px;
}
.promo{
    display: flex;
    padding-top: 50px;
    margin-bottom: 150px;
    font-family: 'Montserrat';
    min-width: 1279px;
}
.background{
        background-image: url(.././img/vector-smart-object.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: auto;
}
.menu {
    display: flex;
    justify-content: center;
    margin-top: -5px;
    margin-bottom: 65px;
    list-style-type: none;
    font-family: "open";
    color: rgb(26, 188, 156);
}
.logo {
    display: flex;
    justify-content: flex-start;
    margin-right: 540px;
}
.link-logo {
   text-decoration: none;
   list-style-type: none;
   font-size: 30px;
   font-family: "Montserrat ",sans-serif;
   font-weight: bold;
   color: #ffffff;
   margin-top: -15px;
}
.link-about {
   font-size: 14px;
   font-family: "Montserrat",sans-serif;
   margin-right: 40px;
   text-decoration: none;
   list-style-type: none;
   color: #ffffff;
}
.about {
   margin-top: -12px;
}
.link-about:hover {
   color: #fce38a;
   transition-duration: 200ms;
   border-bottom: 3px solid #fce38a;
   padding-bottom:  10px;
}
.link-service {
   font-size: 14px;
   font-family: "Montserrat",sans-serif;
   margin-right: 40px;
   text-decoration: none;
   color: #ffffff;
}
.link-service:hover {
   color: #fce38a;
   transition-duration: 200ms;
   border-bottom: 3px solid #fce38a;
   padding-bottom:  10px;
}
.link-work {
   font-size: 14px;
   font-family: "Montserrat",sans-serif;
   margin-right: 40px;
   text-decoration: none;
   color: #ffffff;
}
.link-work:hover {
   color: #fce38a;
   transition-duration: 200ms;
   border-bottom: 3px solid #fce38a;
   padding-bottom:  10px;
}
.link-blog {
   font-size: 14px;
   font-family: "Montserrat",sans-serif;
   margin-right: 40px;
   text-decoration: none;
   color: #ffffff;
}
.link-blog:hover {
   color: #fce38a;
   transition-duration: 200ms;
   border-bottom: 3px solid #fce38a;
   padding-bottom:  10px;
}
.link-contact {
   font-size: 14px;
   font-family: "Montserrat",sans-serif;
   margin-right: 40px;
   text-decoration: none;
   color: #ffffff;
}
.link-contact:hover {
   color: #fce38a;
   transition-duration: 200ms;
   border-bottom: 3px solid #fce38a;
   padding-bottom:  10px;
}
.icon-basket {
  width: 20px;
  height: 20px;
  margin-right: 40px;
  cursor: pointer;
}
.icon-search {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.title{
    text-align: center;
    font-size: 52px;
    font-size: 72px;
    font-family: "KaushanScript";
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 65px;
}
.subtitle{
    font-size: 150px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.9;
    margin-bottom: 40px;
    font-weight: 200;
    margin: 0 auto;
    width: 882px;;
    text-align: center;
}
.login {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-transform: capitalize;
}
.login:first-letter{
  text-transform: lowercase;
}
.sign-up {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-transform: capitalize;
}
.sign-up:first-letter{
  text-transform: lowercase;
}
.item-promo{
    padding-bottom: 140px;
    margin-bottom:70px;
}
.top-button{
    font-family: 'Montserrat';
    background-color: Transparent;
    border: 2px solid #ffffff;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
    height: 2.5rem;
    cursor:pointer;
    margin: 0 auto;
    display: block;
    margin-top: 120px;
    width: 160px;
}






.string-top-small {
  text-align: center;
  margin-top: 100px;
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
  color: rgb(51, 51, 51);
}
.string-top {
  text-align: center;
  margin-top: 25px;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
}
.img-top {
 text-align: center;
 margin-top: 40px;
 margin-bottom: 65px;
}
@media(min-resolution:192dpi) , (min-resolution: 2dppx) {
    .background{
        background-image: url(.././img/vector-smart-object@2X.png);
        background-size: cover;
        background-position: center;
    }
}
.content-top-center{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.content-down-center{
  display: flex;
  justify-content: center;
}
.top-left-block {
  margin-right: 70px;
  width: 350px;
  display: flex;
}
.top-middle-block {
  margin-right: 70px;
  width: 350px;
  display: flex;
}
.top-right-block {
  width: 362px;
  display: flex;
}
.down-left-block {
  margin-right: 70px;
  width: 350px;
  display: flex;
}
.down-middle-block {
  margin-right: 70px;
  width: 350px;
  display: flex;
}
.down-right-block {
  width: 362px;
  display: flex;
}
.top-left-svg {
   width: 95px;
   height: 47px;
   margin-right: 30px;
}
.top-middle-svg {
   width: 80px;
   height: 47px;
   margin-right: 30px;
}
.top-right-svg {
   width: 80px;
   height: 47px;
   margin-right: 30px;
}
.down-left-svg {
  width: 80px;
   height: 47px;
   margin-right: 30px;
}
.down-middle-svg {
   width: 80px;
   height: 47px;
   margin-right: 30px;
}
.down-right-svg {
   width: 80px;
   height: 47px;
   margin-right: 30px;
}
.top-left-name {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  margin-bottom: 14px;
}
.top-middle-name {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  margin-bottom: 14px;
}
.top-right-name {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  margin-bottom: 14px;
}
.down-left-name {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  margin-bottom: 14px;
}
.down-middle-name {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  margin-bottom: 14px;
}
.down-right-name {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  margin-bottom: 14px;
}
.top-left-description {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  line-height: 1.6;
}
.top-middle-description {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  line-height: 1.6;
}
.top-right-description {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  line-height: 1.6;
}
.down-left-description {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  line-height: 1.6;
}
.down-middle-description {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  line-height: 1.6;
}
.down-right-description {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  line-height: 1.6;
}
.string-down-small {
  text-align: center;
  margin-top: 90px;
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
  color: rgb(51, 51, 51);
}
.string-down{
  text-align: center;
  margin-top: 25px;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
}
.img-down {
 text-align: center;
 margin-top: 40px;
 margin-bottom: 45px;
}
.text-description{
  display: flex;
  justify-content: center;
  width: 943px;
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: center;
  margin-bottom: 80px;
  margin-left: 172px;
}
.post-center{
  display: flex;
  justify-content: center;
}
.post-left {
  width: 380px;
  margin-right: 30px;
}
.post-middle {
  width: 380px;
  margin-right: 30px;
}
.post-right {
  width: 380px;
}
.string-name-left {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
}
.string-name-middle {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
}
.string-name-right {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
}
.string-profesion-left {
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: rgb(153, 153, 153);
}
.string-profesion-middle {
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: rgb(153, 153, 153);
}
.string-profesion-right {
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: rgb(153, 153, 153);
}





.top-left-img{
    position:relative;

}
.top-left-img:hover .block {
    display:block;
    transition-duration: 200ms;
}
.top-left-img:hover {
    z-index: 2;
    transition-duration: 200ms;
}
.top-middle-img{
    position:relative;
}
.block{
    position:absolute;
    left:0px;
    bottom:0;
    right:0;
    top:0px;
    height: 460px;
    width: 370px;
    /* opacity: 0.8; */

    padding:5px;
    display:none;
}

.top-middle-img:hover .block{
    display:block;
    transition-duration: 200ms;

}




.item {
  position: relative;
  width: 200px;
  height: 460px;
  width: 370px;
  background: lightblue;
}

.item__inner {
  position: absolute;
  height: 460px;
  width: 370px;
  background: linear-gradient(#ef8b89, #f0d689);
  opacity: 0.8;
  z-index: 1;
  transform: translate(0, 0);
  transition-duration: 200ms;
}

.item__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(0, 0);
  transition-duration: 200ms;
}

.item:hover .item__inner,
.item:hover .item__image {
  transform: translate(-10px, -10px);
}
.item:hover .display,
.item:hover .facebook {
  transform: translate(-10px, -10px);
}
.item:hover .display,
.item:hover .twitter {
  transform: translate(-10px, -10px);
}
.item:hover .display,
.item:hover .pinterest {
  transform: translate(-10px, -10px);
}
.item:hover .display,
.item:hover .instagram {
  transform: translate(-10px, -10px);
}
.top-right-img {
    position:relative;
}
.top-right-img:hover .block{
    display:block;
    transition-duration: 200ms;
}
.dispaly {
  margin-top: 60px;
  display: flex;
}

.facebook {
  position: relative;
  border: 1px solid #fce38a;
  margin-top: 140px;
  margin-left: 70px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #fce38a;
  z-index: 3;
}
.facebook:hover {
  background: #95e1d3;
  border: 1px solid #95e1d3;
  transition-duration: 200ms;
}
.twitter {
  position: relative;
  border: 1px solid #fce38a;
  margin-top: 140px;
  margin-left:1px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #fce38a;
  z-index: 3;
}
.twitter:hover {
  background: #95e1d3;
  border: 1px solid #95e1d3;
  transition-duration: 200ms;
}
.pinterest {
  position: relative;
  border: 1px solid #fce38a;
  margin-top: 140px;
  margin-left:1px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #fce38a;
  z-index: 3;
}
.pinterest:hover {
  background: #95e1d3;
  border: 1px solid #95e1d3;
  transition-duration: 200ms;
}
.instagram {
  position: relative;
  border: 1px solid #fce38a;
  margin-top: 140px;
  margin-left:1px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #fce38a;
  z-index: 3;
}
.instagram:hover {
  background: #95e1d3;
  border: 1px solid #95e1d3;
  transition-duration: 200ms;
}
.text {
  font-size: 14px;
  font-family: "Montserrat";
    color: rgb(51, 51, 51);
}
.color {
  color: rgb(51, 51, 51);
  text-decoration: none;
}
.color:hover {
  color: #f38181;
   transition-duration: 200ms;
}
.left-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1194px;
  padding-top: 40px;
  padding-bottom: 20px;
  color: black;
  margin-left: 43px;
  margin-top: 80px;
  border-top: 1px solid rgb(153, 153, 153);
}
.input {
  width: 230px;
  height: 40px;
  padding-left: 12px;
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(204, 204, 204);
  font-style: italic;
}
.form {
  margin-left: 490px;
  margin-top: -10px;
}
.button {
  background: #95e1d3;
  border: 0;
  width: 150px;
  height: 46px;
  margin-left: -4px;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  cursor: pointer;
}
