
// Fonts
$montserrat-font-stack: "Montserrat ",sans-serif;
$open-font-stack: "open";
$KaushanScript-font-stack: "KaushanScript";
$KaushanScript-cursive-font-stack: 'Kaushan Script', cursive;
$Roboto-font-stack: "Roboto";

// Colors
$color-birch: rgb(26, 188, 156);
$color-white: #ffffff;
$color-light-orange: #fce38a;
$color-dark-silver: rgb(51, 51, 51);
$color-silver: rgb(153, 153, 153);
$color-silver-2: rgb(204, 204, 204);
$color-lightblue: lightblue;
$color-light-red: #ef8b89;
$color-birch-2: #95e1d3;
$color-black: black;
