
.facebook {
  position: relative;
  border: 1px solid $color-light-orange;
  margin-top: 140px;
  margin-left: 70px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: $color-light-orange;
  z-index: 3;
}

.twitter {
  position: relative;
  border: 1px solid $color-light-orange;
  margin-top: 140px;
  margin-left:1px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: $color-light-orange;
  z-index: 3;
}

.pinterest {
  position: relative;
  border: 1px solid $color-light-orange;
  margin-top: 140px;
  margin-left:1px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: $color-light-orange;
  z-index: 3;
}

.instagram {
  position: relative;
  border: 1px solid $color-light-orange;
  margin-top: 140px;
  margin-left:1px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: $color-light-orange;
  z-index: 3;
}
