
@media(min-resolution:192dpi) , (min-resolution: 2dppx) {
    .background{
        background-image: url(.././img/vector-smart-object@2X.png);
        background-size: cover;
        background-position: center;
    }
}
